<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Shopping List</title>
</head>

<body>
  <div id="wrapper">
    <div id="shopping-list">
      <div id="list">
        <h1>My shopping list</h1>
        <ul>
          <li *ngFor="let shopping of shoppingItems$ | async" (click)="removeItem(shopping.id)">
            {{shopping.name}}
          </li>
        </ul>

        <input [(ngModel)]="text" />
        <button (click)="addItem()">Add</button>

      </div>
    </div>
  </div>

</body>

</html>
