<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>Shopping List</title>
</head>

<body>
<div id="wrapper">
  <div *ngIf="!(error$ | async); else error" [class.loading]="(loading$ | async)"
       id="shopping-list">
    <div id="list">
      <h1>My shopping list</h1>
      <ul>
        <li (click)="removeItem(shopping.id)" *ngFor="let shopping of shoppingItems$ | async">
          {{shopping.name}}
        </li>
      </ul>


      <form (ngSubmit)="addItem()">
        <input
            [(ngModel)]="itemName"
            name="itemName"
            placeholder="Item name"
            type="text"/>
        <button type="submit">+</button>

      </form>

    </div>
  </div>
</div>

</body>
<ng-template #error>
  <h2>{{(error$ | async)?.message}}</h2>
</ng-template>
</html>
